<%- include('../../partials/header'); %>
    <h2>people</h2>
    <table cellspacing="0">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">E-mail</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <% people.forEach(function (people) { %>
                <tr>
                    <td>
                        <%= people.id %>
                    </td>
                    <td>
                        <%= people.lastName %>
                    </td>
                    <td>
                        <%= people.firstName %>
                    </td>
                    <td>
                        <%= people.email %>
                    </td>
                    <td><a href="/people/edit/<%= people.id %>">Edit</a></td>
                    <td><a href="/people/view/<%= people.id %>">View</a></td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <a href="/people/new">Add New people/a>
        <%- include('../../partials/footer'); %>