<%- include('../../partials/header'); %>
    <h2>task</h2>
    <table cellspacing="0">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">People ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">End Date</th>
            <th scope="col">Notify Date</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <% task.forEach(function (task) { %>
                <tr>
                    <td>
                        <%= task.id %>
                    </td>
                    <td>
                        <%= task.peopleId %>
                    </td>
                    <td>
                        <%= task.title %>
                    </td>
                    <td>
                        <%= task.description %>
                    </td>
                    <td>
                        <%= task.endDate %>
                    </td>
                    <td>
                        <%= task.notifyDate %>
                    </td>
                    <td><a href="/people/edit/<%= task.id %>">Edit</a></td>
                    <td><a href="/people/view/<%= task.id %>">View</a></td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <a href="/task/new">Add New task/a>
        <%- include('../../partials/footer'); %>